# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Shared objects
*.so

# Distribution / packaging
build/
*.egg-info/
*.egg

# Temporary files
*.swn
*.swo
*.swp

# data
*.xml
*.jpg
*.JPEG
*.JPG
*.png

# Dataset symlinks
detectron/datasets/data/*
!detectron/datasets/data/README.md

# Generated C files
detectron/utils/cython_*.c

Model_Online/*
pertrain_model/*
OUTPUT_DIR/*
*.pkl
*.json
pertrain_model
*.stdout
test/*
train/*
.python_version